{% extends "base.html" %}
{% block body %}
<br>
<br>


<section >


   <div class="position-relative">
<div class="position-absolute top-0 start-50 translate-middle-x border" style="width:50%;border-radius:12px">
   <h1>Profile </h1>
   <hr>


      <p>Name:<span>{{ name }}</span></p>

      <p>Phone Number:<span>{{ user }}</span></p>
   <p>Date Join: <span>{{current_user.date_joined}}</span></p>
   <a href="/update/{{ user }}" type="button" class="btn btn-primary">Update</a>

   </div>
</div>
</section>
<br>

{% endblock body %}