{% extends "base.html" %}
{% block body %}
{% from "includes/formhelper.html" import render_field %}
<link rel="stylesheet" href="..\static\styles\form.css">

<div class="signin-wrapper">
    <div class="sign-panels">
        <div class="login">
            <div class="signin-title">
                <span>ADMINISTRATION</span>

            </div>
            <form method='POST' action=''>
                {{ form.csrf_token }}
                <div class="form-floating mb-3">
                    <label style="padding-left:30px;" for="floatingInput">Admin ID</label>
                    {{ form.staffid }}
                </div>
                <div class="form-floating">
                    <label style="padding-left:30px;" for="floatingPassword">Password</label>
                    {{ form.password }}
                </div>
                <button type="submit"  class="btn btn-success rounded-pill w-25 p-3">lOGIN</button>


            </form>
        </div>
    </div>
</div>

{% endblock body %}