{% extends "base.html" %}
{% block body %}
{% from "includes/formhelper.html" import render_field %}
<link rel="stylesheet" href="..\static\styles\form.css">

<div class="signin-wrapper">
    <div class="sign-panels">
        <div class="signup">
            <div class="signin-title">
                <span>Update</span>

            </div>

            <form method='POST' action=''>
                {{ form.csrf_token }}
                <div class="form-floating">
                    <label style="padding-left:30px;" for="floatingUsername">Username</label>
                    {{ form.name }}
                </div>

                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}

                <div class="form-floating mb-3">
                    <label style="padding-left:30px;" for="floatingEmail">phonenumber</label>
                    {{ form.phonenumber }}
                </div>
                {% if form.phonenumber.errors %}
                    {% for error in form.phonenumber.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}






                <button type="submit"  class="btn btn-primary" style="width:100%">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}