
 <style>
     .cart-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

 </style>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style=" padding:0;">
  <div class="container-fluid" style="background-color: #72c2da; padding:15px; ">
      <a class="navbar-brand" style="color: #000; opacity: 0.7;" href="/">
          <img src="{{  url_for('static', filename='logo.png')}}" alt="Image" height="50px" >
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if staff %}

          {% else %}
          <li class="nav-item">
          <a class="nav-link" style="color: #000; opacity: 0.7;" href="#">SUPPORT</a>
        </li>

          {% if member %}
          <li class="nav-item">
          <a class="nav-link" style="color: #000; opacity: 0.7;" href="#">FITNESS TRACKER</a>
        </li>




          {% endif %}
          {% endif %}






      </ul>


        {% if staff %}
       <a href="StaffLogin"><button class="btn btn-outline-danger"  type="submit">
            LOGOUT
        </button>
        </a>
        {% else %}
        <div class="cart-icon" id="cart-icon">
            <img src="{{  url_for('static', filename='image2/cart-icon.jpg')}}" alt="Cart" width="50px">
          </div>
        {% if member %}
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    My Account
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/Azrul/profile/{{member.get_user_id()}}">Profile</a></li>
    <li><a class="dropdown-item" href="/Azrul/logout">Logout</a></li>

  </ul>
</div>
            {% else %}
        <button class="btn" type="submit"><a class="nav-link" style="color: #000; opacity: 0.7; " href="/login">LOG IN</a></button>

          <button class="btn " type="submit">
              <a class="nav-link" style="color: #000; opacity: 0.7; " href="/staffLogin">STAFF</a>
          </button>

        {% endif %}
        {% endif %}

    </div>
  </div>
</nav>