{% extends "base.html" %}
{% block title %}Library Loan System - Forgot password{% endblock %}
{% block content %}
{% from "includes/formhelper.html" import render_field %}

<style>
.hidden {
  display: none;
}
</style>

    <div class="container1">
<div class="container text-center" xmlns="http://www.w3.org/1999/html">
<input type="radio" name="contactMethod" id="emailRadio" value="email" checked>
<label for="emailRadio">Email</label>
<input type="radio" name="contactMethod" id="phoneRadio" value="phone">
<label for="phoneRadio">Phone</label>

<div id="email" class="contact-info">
  <form method="POST" action="">
    <h1>Forgot Password</h1>
    <div class="form-group">
        {{ render_field(email.email, class="form-control") }}
    </div>
    <button type="submit" >Submit</button>
</form>
</div>
<div id="phoneNumber" class="contact-info hidden">
  <form method="POST" action="">
    <h1>Forgot Password</h1>
    <div class="form-group">
        {{ render_field(form.phonenumber, class="form-control") }}
    </div>
    <button type="submit" name="phone" value="phone">Continue</button>
</form>
</div>
</div>
    </div>
<script>
function verifyOTP() {
    const enteredOTP = document.getElementById('enteredOTP').value;
    const generatedOTP = "123456";  // Replace with your generated OTP

    if (enteredOTP === generatedOTP) {
        document.getElementById('verificationResult').textContent = "OTP verified successfully!";
    } else {
        document.getElementById('verificationResult').textContent = "Invalid OTP.";
    }
}
   const emailRadio = document.getElementById('emailRadio');
const phoneRadio = document.getElementById('phoneRadio');
const email = document.getElementById('email');
const phoneNumber = document.getElementById('phoneNumber');

emailRadio.addEventListener('change', () => {
  email.classList.remove('hidden');
  phoneNumber.classList.add('hidden');
});

phoneRadio.addEventListener('change', () => {
  email.classList.add('hidden');
  phoneNumber.classList.remove('hidden');
});



</script>
{% endblock %}
